<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159275888801-6h445hbsrnnavasiv3bp042raf8h6ied.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159275888801-6h445hbsrnnavasiv3bp042raf8h6ied</string>
	<key>API_KEY</key>
	<string>AIzaSyA5uRVGDyn71wVojxy25GbmsMZQabkgc4w</string>
	<key>GCM_SENDER_ID</key>
	<string>159275888801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codersOasis</string>
	<key>PROJECT_ID</key>
	<string>coders-oasis</string>
	<key>STORAGE_BUCKET</key>
	<string>coders-oasis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159275888801:ios:0af2820484fe4dc37480e0</string>
</dict>
</plist>